# Logs
logs

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

/test-results/**
/playwright-report/
/playwright/.cache/
.DS_Store
/test-output/
/blob-report/
/playwright/.cache/
snapshot/
.vscode
credentials.json
token.json
allure-results
allure-report
.auth/*.json